
@media screen and (min-width: 300px) and (max-width: 640px){
/* actualización del sistema 2.0 [23/6/2021] / [26/6/2021]*/

/* Archivo html-5 */
body {/* background: #17224D; */ background: #ffB;}
html {scroll-behavior: smooth;}
/* Archivo html-5 */
/* #45A  color */

.PRIMERA_CAPAS {}
.SEGUNDA_CAPAS {margin: 10px; background: #002d3c;overflow: hidden;
border-radius: 20px;}
/* Archivo html-5 */

/* --------- CABECERA ------------ */
header {background: #002d3c;text-align: left; color: #fff;display: none;}
.H3::selection {background: transparent; color: #fff;}
.H3 {color: #fff;
padding:10px 0px 10px 10px;margin:0px 0px 0px 10px;font-size:25px;}
/* --------- CABECERA ------------ */


/* --------💖💖💖💖 CAPA CENTRAL 💖💖💖💖---------- 
.CAPA_CENTRAL { background: #f0f; padding: 10px; color: #000;
overflow:scroll;white-space:normal;scroll-behavior:smooth;}
.CAPA_CENTRAL::selection {background: transparent;}

.Selección {display: grid;}
.Clip {display: flex;}


.límite_U {border: solid 2px #fff;margin: 5px;
background: transparent;cursor: pointer;}
.límite_U:hover {border: solid 2px #fff;margin: 5px;background: ;}
#Clip:checked + .Clip {background: green;}
.texto { padding: 12px 0px 0px 30px;}
 --------💖💖💖💖 CAPA CENTRAL 💖💖💖💖---------- */




/* --------------- footer ------------ */
#F_B {display: none;}
.BOTON_FOOTER {background: #002d3c;padding: 10px;text-align: right;}
/* --------------- footer ------------ */



input {display: none;}

/* 💗💗💗💗💗💗💗 IMÁGENES 💗💗💗💗💗💗💗💗 */
.imag {width: 130px; padding: 4px; background: red;}
.IMAG_A {display: flex; justify-content: center; align-content: center;
				background: green;padding: 20px 0px 0px 0px;}
/* 💗💗💗💗💗💗💗 IMÁGENES 💗💗💗💗💗💗💗💗 */



#Sl {color: #000;}/* SUBTÍTULO */


#Fll{color: #8080E0; background: yellow;
		display: flex;justify-content: center;
		margin: 0px;




}/* TÍTULO creat */




#Sll{color: #905060;}/* SUBTÍTULO */
#Flll {color: #CCCCCC;} /* TÍTULO flipa */
#Slll {color: #fff;}/* SUBTÍTULO */



.Text_Central {
text-align:center;justify-content:center;display:flex;background:red;}
.Text_Central_U {padding: 10px 0px 30px 0px; 
text-align:center;justify-content:center;display:flex;background:red;}
.Text_A {width: 100%;overflow: hidden;white-space: normal;}


#Fl {color: #D0D0D0;} /* TÍTULO flipa */
#Fl::selection {color: #fff;}




/* ------------- Todos los botones --------------- */
.BOTON_A {text-decoration: none; color: #fff;cursor: pointer;
				 border: solid 1px #fff; padding: 1px 4px 1px 4px;
				 border-radius: 10px; margin: 5px;}
.BOTON_A:hover {box-shadow: 0 0 20px #fff;border-radius: 10px;
background-position: right center;color: #fff;text-decoration: none;}
.BOTON_A::selection {background: transparent;}

.Btn_U {
			text-decoration: none;
			border: solid 2px #fff;
			margin: 8px;padding: 2px 8px 2px 8px;
			border-radius: 40px;
			
}

/* ------------- Todos los botones --------------- */









}
